.classe1 { margin-left: 200px;
           font-weight: bold;
           font-size: 70px; 
           }
           
.classe2 { 
          h1;
          font-weight: bold; 
         }
         
.classe3 { border-radius: 50%;
           float: right; 
         }


