body
{
	background-image: url("bgi.jpg");
}
/**/
#rectPhoto
{
	position: absolute;
	left: 15%;
	height: 300px;
  	width: 25%;
  	background-color: #82cdd2;
  	z-index: 1;  	
  	display: flex;
  	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#circlePhoto 
{
	position: relative;
	top: 0%;
 	height: 60%;
  	width: 70%;
  	background-image: url("photoProfil.jpg");
  	/*border-radius: 50%;*/
  	border-radius: 5px 20px 5px;
}
#name
{
	font: italic small-caps bolder 19px/3 cursive;
	color: white;
}
#comp
{
	margin-left:0;
	margin-right:80px;
	color: rgba(255, 255, 255, 0.801);
	
}

#rectSkills
{
	position: absolute;
	left: 15%;
	height: 1200px;
  	width: 25%;
  	background-color: #0a0a0a;
}

#cvBody
{
	position: absolute;
	left: 40%;
	height: 1200px;
  	width: 45%;
  	background-color: white;
}

#title
{
	font-family: sans-serif;
	position: relative;
	text-align: center;
	top: 3%;
}

#expIcon
{
	position: relative;
	top: 10%;
	left: 5%;
}

#expPro
{
	position: relative;
	left: 20%;
	top: 4%;
}

#buildingIcone1
{
	position: relative;
	left: 10%;
	top: 10%;
}

#urbaco
{
	position: relative;
	top: 6%;
	left: 17%;
}

#timeIcone1
{
	position: relative;
	top: 2%;
	left: 47%;
}

#firstExpTime
{
	position: relative;
	top: -2%;
	left: 55%;
}

#diplomaIcon
{
	position: relative;
	top: 8%;
	left: 5%;
}

#diplomesEtFormation
{
	position: relative;
	top: 2%;
	left: 20%;
}

#buildingIcone2
{
	position: relative;
	left: 10%;
	top: 10%;
}

#delfB2
{
	position: relative;
	top: 6%;
	left: 17%;
}

#timeIcone2
{
	position: relative;
	top: 10%;
	left: 47%;
}

ul
{
	position: relative;
	top: 12%;
	left: 5%;
}

li 
{
    font-size: 1.3em;
    margin-top:13px;
}

#expTime
{
	position: relative;
	top: 2%;
	left: 57%;
}
.heading { color: #f1e5e5; }
.img-fluid{
	max-width:100%;height:auto;
}